//
   Created by luodan on 2015/8/4 0004.

//doctype
//html
//   head
//      meta(charset="utf-8")
//      title #{title}
//   body
//      h1 #{title}

//首页
extends  ../layout

block content
   .container
      .row
         each  item in movies
            .col-md-2
               .thumbnail
                  a(href="/movie/#{item._id}")
                     img(src="#{item.poster}", alt="#{item.title}")
                  .caption
                     h3 #{item.title}
                     p: a.btn.btn-primary(href="/movie/#{item._id}", role="button") 观看预告片
